.nav-bar {
	background-color: rgba(58, 56, 56, 0.453);
	overflow: hidden;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 10;

	a {
		color: #FFF;
	}

	a:visited {
		color: #FFF;
	}

	border-bottom: 1px solid #000;

	.navWide {
		display: none;
		margin: 0 auto;
		padding-right: 5em;
		padding-left: 5em;

		.nav-logo-link {
			background-image: url("../../assets/pokeball.png");
    		background-size: cover;
			height: 0.3em;
			float: left;
			padding:1em 1.2em;
		}

		.wideDiv {
			text-align: right;

			.nav-link:hover {
				background:rgb(165, 165, 165);
			  }

			.nav-link {
				text-decoration: none;
				display: inline-block;
				// Adjust padding to increase/decrease the space between links.
				padding: 1em 2em;
			}
		}
	}

	// Navbar is set to default with the "hamburger" and links on the left
	// side of the screen. To move to the right of the screen, simply
	// change the three "float: Left;" references to read "float: right;".
	.navNarrow {

		padding: 0.4em 0.5em;


		i {
			background-image: url("../../assets/ham-menu.svg");
    		background-size: cover;
    		height: 1em;
			float: left;
			cursor: pointer;
			padding:1em 1em;
		}

		.narrowLinks {
			display: none;

			a:hover {
				background:rgb(165, 165, 165);
				width: 100%;
			  }
			a {
				text-decoration: none;
				display: block;
				float: left;
				clear: left;
				padding: 0.5em 0;
			}
		}
	}
}

// Adjust breakpoint as desired to select when the "hamburger" menu is
// replaced by just the links.
@media (min-width: 525px) {
	
	.nav-bar {

		.navWide {
			display: block;
		}

		.navNarrow {
			display: none;
		}
	}
}